.swiper {
  padding-top: 20px;
  padding-bottom: 50px;
}

.swiper-slide {
  opacity: 0.2;
}

@media (min-width: 641px) {
  .swiper-slide {
    width: 500px;
  }
}

.swiper-slide-active {
  opacity: 1;
}
